{% extends "base.html" %} {% block title%}Desktop Wallpapers{% endblock %}
{% block content %}
<h1 align='center' class="p-5" style="font-family: 'Pushster', cursive;">Desktop Wallpapers</h1>

<!-- <div class="container images-container" align='center'>
    {% for row in range(row_count) %}
        <div class="row container-fluid p-3">
            {% for col in range(col_count) %}
            <div class="col container-fluid">
                <a 
                    href="{{ dw_imgs_fullres[row + row_count*col] }}" 
                    data-lightbox="mygallery" 
                    data-title="<i class='fas fa-download' onclick='downloadUri({{ dw_imgs_fullres[row + row_count*col] }})'></i>">
                    <img 
                        src="{{ dw_imgs_lowres[row + row_count*col] }}" 
                        alt="{{ dw_imgs_lowres[row + row_count*col] }}" 
                        class="img-fluid shadow lg lazyload wall_img">
                </a>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
</div> -->

<div class="container images-container" align='center'>
    <!-- Being able to open a specific image from URL -->
    <script>Lightbox.activate();</script>
    {% for row in range(row_count) %}
        <!-- {% if image_param %}
            <script>lb('{{ dw_imgs_fullres[1] }}')</script>
        {% endif %} -->
        
        <div class="row container-fluid p-2">
            {% for col in range(col_count) %}
            <div class="col">
                <img 
                        src="{{ dw_imgs_lowres[row + row_count*col] }}" 
                        alt="{{ dw_imgs_lowres[row + row_count*col] }}" 
                        class="img-fluid shadow lg lazyload wall_img"
                        onclick="lb('{{ dw_imgs_fullres[row + row_count*col] }}')">
            </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>

{% endblock %}
