{% extends "base.html" %} {% block title%}Home{% endblock %}
{% block content %}
<div class="d-flex w-100 h-100 p-3 mx-auto flex-column">
  <h1 style="
      font-family: 'Pushster', cursive; 
      text-shadow: 0 .4rem .1rem rgba(0, 0, 0, .5);"
      class="fs-1 main-title">Christian Wallpapers</h1>
  <p class="lead lead_text" style="font-family: 'Montserrat', sans-serif;">Christian Wallpapers is a site about sharing the gospel through pictures inspired by the bible.</p>
  <p class="lead  p-3 gx-3 gy-5">
    <!-- btn-lg btn-secondary fw-bold border-white bg-white gx-3 -->
    <a href="/desktop-wallpapers" class="btn btn-outline-primary btn-lg btn-secondary fw-bold border-white bg-white gx-3 home_page_btn">Desktop Wallpapers</a>
    <a href="/phone-wallpapers" class="btn btn-outline-primary btn-lg btn-secondary fw-bold border-white bg-white gx-3">Phone Wallpapers</a>
  </p>
</div>
{% endblock %}