{% extends "base.html" %} {% block title%}Home{% endblock %}
{% block content %}
<h1 style="
    font-family: 'Pushster', cursive; 
    text-shadow: 0 .4rem .1rem rgba(0, 0, 0, .5);"
    class="fs-1 main-title">Christian Wallpapers</h1>
<p class="lead" style="font-family: 'Montserrat', sans-serif;">Christian Wallpapers is a site about sharing the gospel<br/>through pictures inspired by the bible.</p>
<p class="lead">
  <a href="/desktop-wallpapers" class="btn btn-lg btn-secondary fw-bold border-white bg-white gx-3">Desktop Wallpapers</a>
  <a href="/phone-wallpapers" class="btn btn-lg btn-secondary fw-bold border-white bg-white gx-3">Phone Wallpapers</a>
</p>
{% endblock %}